@import url('https://fonts.cdnfonts.com/css/shrikhand');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.cdnfonts.com/css/dancing-script');
@import url('https://webfontworld.github.io/score/SCoreDream.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

.shrink {
    font-family: "Shrikhand";
}

.Playfair {
    font-family: "Playfair Display";
}

.mont {
    font-family: "Montserrat";
}

.monta {
    font-family: "Montserrat Alternates";
}

.dancing {
    font-family: "Dancing Script";
}

.nun {
    font-family: "Nunito";
}

.score {
    font-family: "SCoreDream";
}