#section3 {
    padding: 300px 0 150px 0;
    background: linear-gradient(to bottom, #FBEFE1 40%, #F6DDC4 90%);
}

#section3 .about__left {
    width: 100%;
    margin-bottom: 200px;
}

#section3 .about__tag span {
    background-image: url(../../img/moniter.svg);
}

#section3 .about__tag {
    margin-bottom: 40px;
    background-color: var(--o);
}

#section3 .about__left em {
    background-color: var(--o);
    border-bottom: 5px solid var(--od);
}

#section3 .about__left strong {
    background-color: var(--y);
    border-bottom: 5px solid var(--yd);
}

.site__wrap .site {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 5%;
}

.card-box {
    position: sticky;
    top: 54px;
    margin-top: 150px;
    width: 100%;
    /* aspect-ratio: 1 / 1; */
    height: 780px;
    overflow: hidden;
    border-radius: 30px;
    transition: width 0.3s ease, opacity 0.3s ease;
    margin-bottom: 100px;
}

.site__wrap .site.s1 {
    background-color: var(--r);
}

.site__wrap .site.s2 {
    background-color: var(--o);
}

.site__wrap .site.s3 {
    background-color: var(--y);
}

.site__wrap .site h3 {
    font-family: "Montserrat Alternates";
    font-size: 6vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: -70px;
    color: var(--primarycolor);
}

.site__wrap .site p {
    font-size: 25px;
    font-weight: 500;
    color: var(--primarycolor);
    word-break: keep-all;
}

.site__wrap .site .tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.site__wrap .site .tag span {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    padding: 5px 20px;
    background-color: var(--yd);
    color: var(--primarycolor);
    border-radius: 50px;
    margin-right: 10px;
}

.site__wrap .site .tag span:last-child {
    margin-right: 0;
}

.site__wrap .site .tag span:nth-child(1) {
    background-color: var(--primarycolor);
    color: var(--white);
}

.site__wrap .site .tag a:first-child {
    margin-right: 10px;
}

@media (max-width: 1300px) {
    #section3 {
        padding: 10vw 0 5vw 0;
    }

    #section3 .container {
        width: calc(100% - 200px);
    }

    #section3 .about__left {
        margin-bottom: 8vw;
    }

    .site__wrap .site p {
        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .site__wrap .site h3 {
        margin-bottom: 2vw;
    }

    .card-box {
        height: 665px;
    }
}

@media (max-width: 1100px) {
    .site__wrap .site {
        justify-content: center;
    }

    .site__wrap .site h3 {
        font-size: 8vw;
    }

    .site__wrap .site p {
        text-align: center;
    }

    .site__wrap .site .tag {
        align-items: center;
        flex-direction: column;
        font-size: 2vw;
    }

    .site__wrap .site .tag div:nth-of-type(1) {
        margin-bottom: 20px;
    }

    .card-box {
        height: 460px;
    }
}

@media (max-width: 880px) {
    #section3 .container {
        width: calc(100% - 100px);
    }

    #section3 .about__tag {
        font-size: 2.5vw;
        padding: 0.8vw 2vw;
        margin: 0 0 2vw;
    }

    .site__wrap .site h3 {
        font-size: 6vw;
    }

    .site__wrap .site p {
        font-size: 1.8vw;
    }

    .site__wrap .site .tag {
        font-size: 1.8vw;
    }

    .card-box {
        height: 455px;
        border-radius: 20px;
        top: 150px;
        margin-bottom: 50px;
        margin-top: 100px;
    }
}

@media (max-width: 700px) {
    .site__wrap .site p {
        font-size: 1.6vw;
    }

    .site__wrap .site .tag {
        font-size: 1.6vw;
    }

    .site__wrap .site .tag div:nth-of-type(1) {
        margin-bottom: 15px;
    }

    .site__wrap .site .tag span {
        margin-right: 3px;
        padding: 3px 12px;
    }

    .site__wrap .site .tag a:first-child {
        margin-right: 3px;
    }
}

@media (max-width: 550px) {
    .card-box {
        height: 230px;
    }

    .site__wrap .site p {
        font-size: 1.8vw;
    }

    .site__wrap .site .tag {
        font-size: 1.8vw;
    }

    .site__wrap .site .tag div:nth-of-type(1) {
        margin-bottom: 10px;
    }

    #section3 .about__left em {
        border-radius: 5px;
        border-bottom: 3px solid var(--od);
    }

    #section3 .about__left strong {
        border-radius: 5px;
        border-bottom: 3px solid var(--yd);
    }
}

@media (max-width: 430px) {
    #section3 .container {
        width: calc(100% - 110px);
    }
}