* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bgc);
    height: 100vh;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* .container2 {
    width: 100%;
    padding: 0 386px;
    box-sizing: border-box;
} */

input[type=text] {
    -webkit-ime-mode: active;
    -moz-ime-mode: active;
    -ms-ime-mode: active;
    ime-mode: active;
}

input[type=password] {
    -webkit-ime-mode: inactive;
    -moz-ime-mode: inactive;
    -ms-ime-mode: inactive;
    ime-mode: inactive;
}

.hiddenScroll {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}